/* Contêiner que define a área visível */
.carousel-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    animation-play-state: running;
}

/* A "pista" onde os cards vão se mover */
.carousel-track {
    display: inline-flex;
    animation: scroll 1000s linear infinite; /* Faz a pista rolar continuamente */
    margin: 20px;
    padding: 20px;
}

/* Animação contínua para mover os cards da direita para a esquerda*/
@keyframes scrollFrom {
    from {
        transform: translateX(var(--start-position));
    }
    to {
        transform: translateX(-100%);
    }
}