/* Contêiner que define a área visível */
.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    white-space: nowrap;
    animation-play-state: running;
}

/* A "pista" onde os cards vão se mover */
.carousel-track {
    display: inline-flex;
    animation-play-state: running;
    animation: scroll 10s linear infinite; /* Faz a pista rolar continuamente */
}

/* Estilos básicos para os cards */
.card {
    width: 18rem;
    margin: 10px;
    display: inline-block;
    white-space: normal; /* Permite que o conteúdo do card seja quebrado em linhas */
    border: 2px solid transparent; /* Define uma borda padrão */
    border-radius: 10px;
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.6s ease-in-out; /* Transição mais suave */
}

.card:hover {
    box-shadow: 0 0 20px rgba(218, 42, 42, 0.8), 0 0 40px rgba(218, 42, 42, 0.8); /* Efeito de brilho */
    border: 2px solid rgba(218, 42, 42, 0.8); /* Borda brilhante */
    transform: scale(1.1); /* Aumenta o tamanho do card em 10% */
    margin: 20px;
}

/* Animação contínua para mover os cards da direita para a esquerda*/
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Animação contínua para mover os cards da direita para a esquerda
@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}*/