.header-content {
    display: flex; /* Faz o layout dos filhos em linha */
    justify-content: space-around; /* Coloca os elementos nas extremidades, com espaço entre eles */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    width: 100%;
    margin-top: 20px;
    
}

form{
    max-width: 50%;
    flex-grow: 1;
    place-content: center;
}

.header-logo{
    max-width: 300px;
}

.d-flex{
    margin: 0;
    height: 50px;
}