@import "header.css";
@import "carousel.css";
@import "modal.css";
@import "card.css";
@import "cardFav.css";




main{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    background-color: black;
    background-image: url("/src/assets/images/background-pokemon-black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    height: 100vh; /* Garante que o fundo ocupe toda a altura da janela de visualização */
}

.wrapper-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

/* Classe para escurecer o fundo */
.dimmed-background {
    position: relative;
}

.dimmed-background::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor e opacidade para escurecimento */
    z-index: 1;
}

/* Barra de pesquisa em destaque */
form input:focus {
    z-index: 2;
    position: relative;
}

.favorites-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    white-space: nowrap;
}

/* Estilo para exibir os cards em uma lista */
.list-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    animation: none;
    overflow-y: hidden;
    padding: 10px;
}

.list-view .card {
    margin: 10px; /* Adiciona espaço entre os cards */
}

